.pokemon-card{
    max-width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    border-radius: 16px;
    img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    h4,h5{
        text-transform: capitalize;
    }
}